* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 972px;
  background: #dddddd;
  display: flex;
  flex-direction: column;

  justify-content: space-around;
}

.had-text-cont {
  width: 95%;
  height: 221px;

  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.text-left {
  position: relative;
  padding: 10px 10px;
  height: 90px;
  display: inline-block;

  overflow: hidden;
  transition: 0.5s;
}

.text-left > span {
  position: absolute;
  display: block;
}

.text-left > span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: line-run1 1s linear infinite;
}

@keyframes line-run1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.text-left > span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 70%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: line-run2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes line-run2 {
  0% {
    top: -100px;
  }
  50%,
  100% {
    top: 100%;
  }
}

.text-left > span:nth-child(3) {
  right: -100%;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: line-run3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes line-run3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

.text-left > span:nth-child(4) {
  bottom: 0;
  left: 0;
  width: 2px;
  height: 70%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: line-run4 1s linear infinite;
  animation-delay: 0.6s;
}

@keyframes line-run4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}

.text-right {
  width: 210px;
  height: 221px;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: none;
}

h2 {
  font-size: 40px;
  color: black;
}

.text-left > span {
  color: #b3b3b3;
  font-size: 13px;
}

h2::after {
  content: ".";
  color: #0081ff;
}

.text-right > div {
  font-size: 158.3px;
  color: #1c1c1c;
  opacity: 30%;
}

.text-right > h3 {
  font-size: 43.17px;
  color: #373737;
  position: absolute;

  right: 10%;
}

.my-info-div-cont {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.my-info-cont {
  width: 682.07px;
  height: 292.27px;

  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.my-info-iqon-cont {
  display: flex;
  column-gap: 30px;
}

.my-info-iqon-cont > a > img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.my-info-cont > p {
  font-size: 49.7px;
  color: #212121;
  opacity: 70%;
}

.my-info-cont > div > h1 {
  font-size: 71px;
  color: #212121;
  opacity: 100%;
}

.my-info-cont > div > span {
  font-size: 23.29px;
  color: #212121;
  opacity: 70%;
}

.my-info-end-cont {
  width: 100%;

  display: flex;

  justify-content: flex-end;
}

.my-info-end-cont > div {
  display: flex;
  flex-direction: column;
  row-gap: 15px;

  width: 300px;
}

.my-info-end-cont > div > p {
  color: #212121;
  font-size: 24px;
}

.my-info-end-cont > div > p::before {
  content: "100%";
  color: red;
}

.my-info-end-cont > div > div {
  border: solid red;
  width: 300px;
}

.my-image-cont {
  position: relative;
  width: 40%;
  height: 520px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-image-cont > img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;

  border-radius: 4%;
}

.started-position-img {
  scale: 0.001;
}

.scale-min {
  scale: 0.001;
  transition: 3s;
  z-index: 10;
}

.scale-max {
  z-index: 20;
  scale: 1;
  transition: 3s;
}

/* my info 2 */

.main-my-info {
  width: 100%;
  margin-top: 100px;
  display: flex;
  column-gap: 30px;
  border: solid red;
  align-items: center;
}

.section-my-info {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 15px;
  width: 30%;
}

.section-my-info > div {
  display: flex;
  flex-direction: column;
}

.section-my-info > div > h1 {
  color: #222222;
  font-size: 40px;
}

.section-my-info > div > span {
  color: #daae19;
  font-size: 14px;
}

.section-my-info > p {
  color: #555555;
  font-size: 15px;
  opacity: 60%;
}

.section-my-info > div:nth-child(3) {
  width: 100%;
  align-items: end;
}

.section-my-info > div > div {
  width: 152px;
  height: 50px;
  background: #d7435f;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.section-my-info > div > div > span {
  color: #b9b9b9;
  font-size: 15px;
}

.section-my-info > div > div:hover {
  background: red;
}

.section-my-info > div > div:hover span {
  color: white;
}

/* section-my-fhoto */

/* .section-my-fhoto {
 
} */

.section-my-fhoto > img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 5%;
  /* object-position: 100% 80%; */
}

/* my-skills */

.my-skills {
  width: 30%;
  display: flex;
  flex-direction: column;
  row-gap: 7px;
}

.my-skills > div > span {
  color: #555555;
  font-size: 15px;
  opacity: 60%;
}

.my-skills > div > span > span {
  color: #e93656;
  font-size: 15px;
}

.my-skills > div {
  display: flex;
  flex-direction: column;
  row-gap: 3px;
}

.my-skills-div-cont {
  position: relative;
  overflow: hidden;
  transition: 0.5s;
  display: inline-block;
  width: 100%;
  height: 5px;

  /* border: solid; */
}

.my-skills > div > div > span {
  position: absolute;
  display: block;
  border: solid red;
}

.span-width1 {
  width: 95%;
}

.span-width2 {
  width: 60%;
}
.span-width3 {
  width: 25%;
}

.span-width4 {
  width: 95%;
}

.span-width5 {
  width: 65%;
}

.span-width6 {
  width: 85%;
}

.span-width7 {
  width: 70%;
}
.span-width8 {
  width: 15%;
}

@keyframes skills-line-run1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 0%;
  }
}
.active-animation {
  animation: skills-line-run1 linear;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.my-skills-div-cont > span {
}

/* droebiti */
.iqon-droebiti > img {
  width: 50px;
  height: 50px;
  color: red;
  background: black;
  margin-top: 500px;
}
